---
layout: index
---


<div class="main">
    <div class="who">
        <div class="inside">
            <h1 class="logo">NICOLAS CAREY</h1>
        </div>
        <div class="content">
            <p class="c-tw">Product designer who connects the dots between user experience and business objectives. Passionate about solving user needs and business requirements.</p>
        </div>
        <div class="elsewhere">
            <h4 class="c-tw">Elsewhere: <a href="https://github.com/{{ include.username }}"><span class="icon icon--github">{% include icon-github.svg %}</span><span class="username">{{ include.username }}</span></a> <a href="https://twitter.com/{{ include.username }}"><span class="icon icon--twitter">{% include icon-twitter.svg %}</span><span class="username">{{ include.username }}</span></a>
                <a href="https://instagram.com/{{ include.username }}"><span class="icon icon--instagram">{% include icon-instagram.svg %}</span><span class="username">{{ include.username }}</span></a><a href="https://dribbble.com/{{ include.username }}"><span class="icon icon--dribbble">{% include icon-dribbble.svg %}</span><span class="username">{{ include.username }}</span></a>
            </h4>
        </div>
    </div>
    <div class="container">
        <div class="inside">
            <ul class="nav tabs">
            <li class=" tab-link current" data-tab="tab-thoughts">Thoughts</li>
            <li class=" tab-link" data-tab="tab-work">Work</li>
        </ul>
        </div>
        
        <div class="flex-column">
            <div id="tab-thoughts" class="content tab-content current">
                <ul class="posts">
                    <li><p>Design tools are ignoring collaboration</p>
                        <h4>April 2016</h4>
                    </li>
                    <li><p>What design sprints won’t do</p>
                        <h4>March 2016</h4>
                    </li>
                    <li><p>Building a framework for experiments</p>
                        <h4>February 2016</h4>
                    </li>
                    <li><p>Reviewing IxDA 16</p>
                        <h4>January 2016</h4>
                    </li>
                </ul>
            </div>
            <div id="tab-work" class="content tab-content">
                <ul class="posts">
                    <li><p>UX Designer at Potato</p>
                        <h4>April 2016</h4>
                    </li>
                    <li><p>Product Designer at lyfeclub</p>
                        <h4>March 2016</h4>
                    </li>
                    <li><p>Product Designer at UrbanTribe</p>
                        <h4>February 2016</h4>
                    </li>
                    <li><p>Founder, Take Note</p>
                        <h4>January 2016</h4>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
$(document).ready(function(){
    
    $('ul.tabs li').click(function(){
        var tab_id = $(this).attr('data-tab');

        $('ul.tabs li').removeClass('current');
        $('.tab-content').removeClass('current');

        $(this).addClass('current');
        $("#"+tab_id).addClass('current');
    })

})
</script>