---
layout: index
---


<div class="main">
    <div class="who">
        
    </div>
    <div class="container about">

<div class="inside">
            <h3>NICOLAS CAREY</h3>
            <h1 class="logo pbl"> <a class="highlight" href='thoughts'>thoughts</a> and <a class="highlight" href='work'>work</a></h1>
        </div>
        <div class="content">
            <p class="c-tw blurb">Product designer who connects the dots between user experience and business objectives. Passionate about solving user needs and business requirements.</p>
              <div class="elsewhere">
            <h4 class=""><span class="c-tw">Elsewhere:</span> <a href="https://github.com/nicolascarey"><span class="icon icon--github">{% include icon-github.svg %}</span></a> <a href="https://twitter.com/nsdcarey"><span class="icon icon--twitter">{% include icon-twitter.svg %}</span></a>
                <a href="https://instagram.com/nsdcarey"><span class="icon icon--instagram">{% include icon-instagram.svg %}</span></a><a href="https://dribbble.com/nsdcarey"><span class="icon icon--dribbble">{% include icon-dribbble.svg %}</span></a><a href="https://linkedin.com/in/nicolascarey"><span class="icon icon--linkedin">{% include icon-linkedin.svg %}</span></a>
            </h4>
        </div>
        </div>
      


    </div>
</div>
