/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}


html, body, .main {
    height: 100%;
}
/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    &.alt {
        background-color: #D2D8DE;
    }
}

.main {
    width: 100%;
    min-height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #245C5F;
    box-sizing: border-box;
    border: 0.75rem solid #f5f5f5;
        
}

.container {
    -webkit-flex: 3;
    flex: 3; 
    background-color: #122122;
    .inside {   
        padding-top: 17px;
        padding-left: 2em;
        padding-right: 2em;
        border-bottom: 1px solid #648B8E;
    }
    .content {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 2em;
    padding-right: 2em;
    }
}

.content p{
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;

    line-height: 30px;
}
.who {
    -webkit-flex: 1;
    flex: 1; 
    .inside {   
        padding-top: 41px;
        padding-left: 2em;
        padding-right: 2em;
    }
    .content {
    padding-bottom: 30px;
    padding-left: 2em;
    padding-right: 2em;
    }   
}
.elsewhere {
    display: none;
}
.tab-content {
    display: none;
}
.tab-content.current{
    display: inherit;
}
@include media-query($on-laptop) {
.main {
    width: 100%;
    min-height: 100%;
    
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;


    background-color: #245C5F;
    box-sizing: border-box;
    border: 0.75rem solid #f5f5f5;
        
}
.elsewhere {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 4em;
    padding-right: 4em;
}

.container {
    -webkit-flex: 3;
    flex: 3;  
    background-color: #122122;
    .inside {   
        padding-top: 59px;
        padding-left: 4em;
        padding-right: 4em;
        border-bottom: 1px solid #648B8E;
    }
    .content {
    padding-top: 30px;
    padding-left: 4em;
    padding-right: 4em;
    }
}

.content p{
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;

    line-height: 30px;
}
.who {
    -webkit-flex: 2;
    flex: 2;
    .inside {   
        padding-top: 41px;
        padding-left: 4em;
        padding-right: 4em;
        border-bottom: 1px solid #648B8E;
    }
    .content {
    padding-top: 30px;
    padding-left: 4em;
    padding-right: 4em;
    }
}

}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}





/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #2B3150;
    color: #CDD6D8
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}


/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.pvl {
    padding: 12px 0; 
}
.phl {
    padding: 0 24px ; 
}
.tac {
    text-align: center;
}

/**
 * Icons
 */
.icon {
    padding-right: 6px;
    > svg {
        display: inline-block;
        width: 18px;
        height: 18px;
        vertical-align: middle;
        path {
            fill: #fff;
        }
    }
}
