//************************
//    Variables
//************************

$accent: #FFF352;


//************************
//    Helpers
//************************
.c-tws {
	color: rgba(255,255,255,0.56);
}
.c-tw {
	color: #fff;
}
.c-tb {
	color: #000;
}