//************************
//    Variables
//************************

$accent: #FFF352;
$secondary: #313131;


//************************
//    Helpers
//************************
.c-tws {
	color: rgba(255,255,255,0.56);
}
.c-tw {
	color: #fff;
	&:visited {
		color: #fff;
	}
}
.c-tb {
	color: #000;
	&:visited {
		color: #000;
	}
}
.c-tg {
	color: rgba(0,0,0,0.56);
}