ul {
    list-style-type: none;
}
ul.linkedlist {
    li {
        font-family: Open Sans;
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 24px;
        color: #fff;
        padding-top: 6px;
        padding-bottom: 6px;
    }
    a li:hover {
        cursor: pointer;
        .post-link {
            background: $accent;
        }
    }
}
@include media-query($on-palm) {
ul.linkedlist {
    padding: 0 24px;
}
}