ul.nav {
	list-style-type: none;
	margin-left: 0;
	padding-top: 0px;
	position: relative;
	margin-bottom: 0;
	
    li {
    	font-family: Oswald;
    	text-transform: uppercase;
    	font-size: 18px;
    	display: inline-block;
    	line-height: 30px;
    	color: #fff;
    	letter-spacing: 3px;
    	padding-left: 24px;
    	padding-right: 24px;
    	padding-top: 6px;
    	padding-bottom: 24px;
        cursor: pointer;
        color: #fff;
        &.current {
            border-bottom: 2px solid #F8E71C;
            color: #F8E71C;
            padding-bottom: 22px;
        }
    }
	
}
ul.posts {
	list-style-type: none;
	li {
    	font-family: Open Sans;
    	font-size: 30px;
    	line-height: 36px;
    	margin-bottom: 24px;
    	color: #fff;
    	padding-left: 12px;
    	padding-top: 6px;
    	padding-bottom: 6px;
        span {
            font-family: Open Sans;
            font-size: 30px;
            line-height: 36px;
            font-weight: 800;
        }
    	&:hover {
    		color: #F8E71C;
            p {
                color: #F8E71C;
            }
    	}
	}
}