/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
.pvl {
    padding: 12px 0; 
}
.pbl {
    padding: 0 0 12px; 
}
.phl {
    padding: 0 24px ; 
}
.pvxl {
	padding: 40px 0;
}
.tac {
    text-align: center;
}
.tar {
    text-align: right;
}
.tal {
    text-align: left;
}
.ttu {
    text-transform: uppercase;
}