h1.logo {
    font-family: Oswald;
    color: #fff;
    font-size: 30px;
    letter-spacing: 7px;
    line-height: 60px;
    margin-bottom: 18px;
}
h1 {
    font-family: Oswald;
    color: #fff;
    font-size: 42px;
    letter-spacing: 7px;
    line-height: 60px;
    margin-bottom: 18px;
}
h2 {
    font-family: Oswald;
    text-align: center;
    color: #fff;
    font-size: 70px;
    line-height: 70px;
    text-transform: uppercase;
}
h3 {
    font-family: Oswald;
    font-size: 24px;
    letter-spacing: 4px;
    text-transform: uppercase;
}
h4 {
    font-family: Oswald;
    font-size: 12px;
    letter-spacing: 4px;
    text-transform: uppercase;
}