/**
 * Variables
 */
$blockhead: futura-pt-condensed, arial, sans-serif;
$para: Open Sans, arial, sans-serif;
/**
 * Base Fonts
 */
h1 {
    font-family: $blockhead;
    font-size: 72px;
    font-weight: 800;
    line-height: 64px;
}
h2 {
    font-family: $blockhead;
    font-size: 48px;
    font-weight: 800;
    line-height: 48px;
    margin-bottom: 16px;
}
h3 {
    font-family: $blockhead;
    font-size: 32px;
    line-height: 48px;
    font-weight: 800;
}
h4 {
    font-family: $blockhead;
    font-size: 24px;
    line-height: 24px;
    font-weight: 800;
}
h5 {
    font-family: $blockhead;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    font-weight: 800;
}
p {
    font-family: $para;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
}

/**
 * Custom Requirements
 */

h1.logo {
    font-family: futura-pt-condensed, Helvetica, sans-serif;
    color: #fff;
    font-size: 32px;
    line-height: 44px;
    font-weight: 800;
    margin-bottom: 18px;
}
@include media-query($on-palm) {
h1.logo {
    font-size: 48px;
    line-height: 80px;
}
}
@include media-query($on-laptop) {
h1.logo {
    font-size: 64px;
    line-height: 80px;
}
}
h1.nav-logo {
    font-family: futura-pt-condensed, Helvetica, sans-serif;
    color: #000;
    font-size: 20px;
    line-height: 16px;
    font-weight: 900;
    margin-bottom: 0;
}
p.lead {
    font-size: 36px;
    line-height: 42px;
}

/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}
/**
 * Figure Img
 */
figcaption {
    font-size: $small-font-size;
}