h1.logo {
    font-family: futura-pt-condensed;
    color: #fff;
    font-size: 44px;
    line-height: 44px;
    margin-bottom: 18px;
}
@include media-query($on-palm) {
h1.logo {
    font-size: 48px;
    line-height: 80px;
}
}
@include media-query($on-laptop) {
h1.logo {
    font-size: 64px;
    line-height: 80px;
}
}
h1.post {
    font-family: Open Sans;
    font-weight: 800;
    font-size: 42px;
    letter-spacing: 2px;
    line-height: 42px;
}
h1 {
    font-family: Oswald;
    font-size: 42px;
    line-height: 60px;
    margin-bottom: 18px;
}
h2 {
    font-family: Oswald;
    text-align: center;
    color: #fff;
    font-size: 70px;
    line-height: 70px;
    text-transform: uppercase;
}
h3 {
    font-family: futura-pt-condensed;
    font-size: 32px;
    color: #fff;
    text-transform: uppercase;
}
h4 {
    font-family: Oswald;
    font-size: 12px;
    letter-spacing: 4px;
    text-transform: uppercase;
}
p {
    font-family: Lora;
    font-size: 18px;
    color: rgba(0,0,0,0.87);
    line-height: 36px;
    margin-bottom: 24px;
}
p.sans {
    font-family: Oswald;
    font-size: 18px;
    color: rgba(0,0,0,0.87);
    line-height: 36px;
    margin-bottom: 24px;
}